<% title "#{peerage.capitalize} Candidate Specialties"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page">Specialties</li>
  </ol>
</nav>
<div class="container <%=peerage%>-border-left">
  <h1><%=peerage.capitalize%> Candidate Specialties</h1>
  <ul>
  <% @specialties.each do |spec| %>
    <% count = spec.candidates.count %>
    <% if count > 0 %>
    <% spec_name = spec.name.capitalize %>
    <% spec_name = "#{spec.parent.name.capitalize} -> #{spec.name.capitalize}" if spec.ancestors? %>
    <li><%=link_to spec_name, chambers_specialty_path(peerage, spec.slug)%> (<%=count%>)</li>
    <% end %>
  <%end %>
  </ul>
</div>
