<% title "#{@specialty.name.capitalize} #{peerage.capitalize} Candidates"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to 'Specialties', chambers_specialties_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@specialty.name.capitalize%></li>
  </ol>
</nav>
<div class="container <%=peerage%>-border-left">
  <h1><%=@specialty.name.capitalize%></h1>
  <%= render '/shared/candidates_table', candidates: @specialty.candidates.map{ |spec| CandidatePresenter.new(candidate: spec) } %>
</div>
