<% title "#{peerage.capitalize} Poll for #{@candidate.sca_name}"%>
<h1><%= peerage.capitalize %> Poll for <%=@candidate.sca_name%></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_for @ballot_entry.advising, as: :advising,  url: chambers_edit_ballot_candidate_path(peerage,@candidate.id), method: :put  do |f| %>
          <%= f.select :judgement, @ballot_entry.judgements, {include_blank: true}, required: true  %>
          <%= f.text_area :comment, data: { behavior: 'markdown' }  %>
        <%= f.submit 'Submit Counsel to the Crown' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
          <a class="nav-item nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
          <a class="nav-item nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents (<%=@candidate.document_count%>)</a>
          <a class="nav-item nav-link" id="old-advisings-tab" data-toggle="tab" href="#old-advisings" role="tab" aria-controls="old-advisings" aria-selected="false">Former Counsel</a>
        </div>
      </nav>
      <div class="tab-content">
       <div class="tab-pane show active" id="profile" role="tabpanel">
          <div class="col">
            <%= render "profile", candidate: @candidate %>
          </div>
        </div>
        <div class="tab-pane" id="comments" role="tabpanel">
          <div class="d-flex flex-column">
            <%= render "/shared/comments", comments: @candidate.comments %>
          </div>
        </div>
        <div class="tab-pane" id="documents" role="tabpanel">
          <div class="d-flex flex-column">
            <h3>Documents</h3>
            <% if @candidate.documents.count > 0 %>
              <%= render "/shared/documents_gallery", documents: @candidate.documents %>
            <% else %>
              There are no documents for this candidate
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="old-advisings" role="tabpanel">
          <h3> Former Counsel to the Crown </h3>
          <% @ballot_entry.old_advisings.each do |old| %>
            <div class="p-2">
              <h5><%=old.date%></h3>
              <b>Judgement:</b> <%=old.judgement_name%><br>
              <b>Comment: </b>
              <div>
              <%= markdown(old.comment)%>
              </div> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
