<h1><%= peerage.capitalize %> Poll for <%=@candidate.sca_name%></h1>

<div class="container">
  <div class="col-md-4">
    <%= semantic_form_for @advising, url: chambers_laurel_poll_candidate_path(@candidate)  do |f| %>
      <%= f.inputs do %>
        <%= f.input :judgement %>
        <%= f.input :comment %>
      <% end %>
      <%= f.action :submit, as: :button, label: 'Submit Advising', button_html: {class: 'btn btn-default'}, id: 'submit' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <strong>Status</strong>: <%=  @candidate.vote ? "Vote List" : "Watch List" %><br>
    <% if @candidate.specialties.count > 0 %>
      <strong>Specialties</strong>: <% @candidate.specialties.each do |spec| %>
      <%= spec.name %>  
      <% end %><br>
    <% end %>
    <% if @candidate.peers.count > 0 %>
      <strong>Advocates</strong>: <% @candidate.peers.each do |adv| %>
      <%=link_to adv.sca_name, adv.url %> 
      <% end %><br>
    <%end%>
    <% if @candidate.group %>
    <strong>Group</strong>: <%= candidate_link @candidate.group %>
    <% end %>
    <h3>Comments</h3>
    <% @candidate.comments.each do |comment| %>
    <div class="container" style="margin:10px;width:100%">
      <div style="width:120px;float:left">
      <%= image_tag comment.peer.profile_pic.url(:thumb) %><br><%= link_to comment.peer.sca_name, comment.peer.url%>
      </div>
      <p><strong>Date</strong>: <%= comment.created_at.strftime("%b %d, %Y") %></p>
      <%= markdown(comment.text) %>
    </div>
    <% end %> 
  </div>
  <div class="col-md-4">
    <%= image_tag @candidate.profile_pic.url(:large) %>
  </div>
</div>
