<h1>Poll</h1>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%=@percent_complete%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%=@ballot.percent_complete%>%;">
<%=@ballot.percent_complete%>%
  </div>
</div>
<div style="text-align:center"><h4><%=@ballot.submission_count%>/<%=@ballot.candidates.count%> Submitted</h4></div>

<table class='table'>
<thead>
<th>Candidate</th><th>List</th><th>Status</th>
</thead>
<tbody>
<% @ballot.candidates.order(:sca_name).each do |cand| %>
  <% if @ballot.submission_for?(cand) %>
  <tr class="alert alert-success">
  <% else %>
    <tr >
  <%end%>
    <td><%= link_to cand.sca_name, controller.send("chambers_#{peerage}_poll_edit_candidate_path",cand.id) %></td>
    <td><%= cand.vote ? 'Vote List' : 'Watch List' %></td>
  <% if @ballot.submission_for?(cand)%>
    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
  <% else %>
    <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
