<h1>Manage <%=peerage.capitalize%>s</h1>
<%= link_to "Add New #{peerage.capitalize}", new_chambers_admin_peer_path(peerage) %>
<table class='table'>
  <thead>
    <th>Name</th><th>Show</th><th>Edit</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%=user.sca_name%></td>
      <td><%=link_to 'Show', peer_path(peerage,user.slug)%></td>
      <td><%=link_to 'Edit', edit_chambers_admin_peer_path(peerage,user.id)%></td>
      </tr>
    <% end %>
  </tbody
</table>
<%= render '/shared/default_datatable' %>
