<h1>Add New <%=peerage.capitalize%></h1>
<div class="container">
  <div class="col-md-4">
    <%= semantic_form_for peerage, url: chambers_admin_peers_path(peerage) do |f| %>
      <%= f.inputs do %>
        <%=# f.input :id, label: 'Existing User', :collection => User.all_except(peerage).pluck(Arel.sql("Concat(`sca_name`, ';', `email`)"), :id)
        %>
        <%= f.input :id, label: 'Existing User', :collection => User.all_except(peerage).pluck(:sca_name, :email, :id).map{|x| ["#{x[0]};#{x[1]}", x[2]]}%>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <%= f.input :email %>
        <%= f.input :vigilant, as: :radio, label: 'Status', collection: [['Vigilant',true, {checked: @vigilant}],['Elevated',false, {checked: !@vigilant}]] %>
      <% end %>
      <%= f.action :submit, as: :button,  label: "Create #{peerage.capitalize}", button_html: {class: 'btn btn-default'}, id: 'submit'%>
    <%end%> 
  </div>
</div>
<script>
$(document).ready(function(){

 $('#<%=peerage%>_id').change(function(){
    var selected = $('#<%=peerage%>_id option:selected').text()
    if (selected == ''){
      $('#<%=peerage%>_sca_name').prop('disabled',false);
      $('#<%=peerage%>_email').prop('disabled',false);
    }else{
      $('#<%=peerage%>_sca_name').val('').prop('disabled',true);
      $('#<%=peerage%>_email').val('').prop('disabled',true);
    }
 }).select2();
 
 
});

</script>
