<% title @honor_roll.page_title %>
<h1 class="text-center"><%=@honor_roll.page_title%></h1>
<h3 class="text-center"><%=@honor_roll.order_title%><br><small>Active in the Kingdom</small></h3>
<div class="d-flex flex-wrap justify-content-center">
<% @honor_roll.active_peers.each do |p| %>
	<div class="<%=@honor_roll.css_class%> <%if p.vigilant?%>vigilant<%end%>">
      <%= link_to(p.sca_name, peer_path(peerage,p.slug)) %>
  </div>
<%end %>
</div>

<h3 class="text-center"><%=@honor_roll.order_title%><br><small>Inactive in the Kingdom</small></h3>
<div class="d-flex flex-wrap justify-content-center">
<% @honor_roll.inactive_peers.each do |p| %>
	<div class="<%=@honor_roll.css_class%> <%if p.deceased %>deceased<%end%>">
      <%= link_to(p.sca_name, peer_path(peerage,p.slug)) %>
  </div>
<% end %>
</div>
