<h1>Roll of Honor</h1>
<h3><%=@order_title%><br><small>Active in the Kingdom</small></h3>
<ul>
<% @active_peers.each do |p| %>
 
  <% name = p.sca_name %>
  <% if p.specialties.count > 0 %>
    <% name = "#{p.sca_name} (#{p.show_specialties})" %>
  <% end %>
  <% if p.vigilant? %> 
  <li><b><%= link_to(name, peer_path(peerage,p.slug)) %></b></li>
  <% else %>
  <li><%= link_to(name, peer_path(peerage,p.slug)) %></li>
  <% end %>
<%end %>
</ul>

<h3><%=@order_title%><br><small>Inactive in the Kingdom</small></h3>
<ul>
<% @inactive_peers.each do |p| %>
  <% name = p.sca_name %>
  <% if p.specialties.count > 0 %>
    <% name = "#{p.sca_name} (#{p.show_specialties})" %>
  <% end %>
  <% if p.deceased? %> 
  <li><strike><%= link_to(name, peer_path(peerage,p.slug)) %></strike></li>
  <% else %>
  <li><%= link_to(name, peer_path(peerage,p.slug)) %></li>
  <% end %>
<% end %>
</ul>
