<div class="container">
  <div class="d-md-flex flex-row-reverse">
    <div class='peer-profile-parent'>
       <%= image_tag @peer.profile_pic.url(:large), class: 'profile-pic'%>
       <%= image_tag @peer.arms.url(:large), class: 'arms'%>
    </div>
    <div class="col-md">
      <% if signed_in? && current_user.sca_name == @peer.sca_name %>
        <%= link_to('Edit Profile', users_edit_path(peerage: peerage)) %>
      <% end %>
      <h1><%=@peer.sca_name%><br><small><%=@peer.specialties.to_sentence%></h1>
      <%= link_to "Send #{@peer.sca_name} a Message", contact_path(peerage, @peer.slug), class: "btn btn-primary" %><br/>
      
      <% if @peer.modern_name.present? %><strong>Modern Name:</strong> <%=@peer.modern_name%><br><%end%>
      <% if @peer.specialties.count > 0 %>
         <strong>Specialties:</strong> <%=peer_specialties_link(@peer)%> <% if @peer.specialty_detail.present? %>(<%=@peer.specialty_detail%>)<%end%><br/>
      <% end %>
      <% if @peer.group.present? %>
        <strong>Group:</strong> <%=peer_link(@peer.group, peerage) %> <br>
      <% end %>
      <% if @peer.city.present? %>
        <strong>Address</strong><br>
        <address class="ml-4">
          <%if @peer.street.present? %> <%=@peer.street%><br><%end %>
          <% if @peer.city.present? and @peer.state.present? %>
            <%=@peer.city%>, <%=@peer.state%> <%=@peer.zipcode%>
          <%end%>
        </address>
      <% end %>
      <% if @peer.phone.present? %> <strong>Phone:</strong> <%=@peer.phone%><br> <%end %>
      <% if @peer.elevated_by.present? %> <strong>Elevated by:</strong> <%=@peer.elevated_by%><br> <%end%>
      <% if @peer.elevation_date.present? %><strong>Elevation Date:</strong> <%=@peer.elevation_date%><br><%end%>
      <% if @peer.superiors.count > 0 %>
      <strong><%=@peer.dependent_name%> of:</strong> <%=@peer.superiors.map{|x| link_to x.sca_name, peer_path(peerage, x.slug)}.join(', ').html_safe%><br>
      <% end %>
      <% if @peer.dependent_of.present? %>
        <strong><%=@peer.dependent_name%> of (Not in Middle Kingdom):</strong> <%=@peer.dependent_of %> 
      <% end %>
      <div style="margin-top:10px">
        <%= markdown(@peer.bio) %>
      </div>
    </div>
  </div>
</div>
