<h3>Admin Tasks</h3>
<% poll = Poll.last_for(peerage) %>
<%= link_to 'Manage Candidates', chambers_admin_candidates_path(peerage) %><br>
<%= link_to "Manage #{peerage.capitalize}s", chambers_admin_peers_path(peerage) %><br>
<%= link_to 'Manage Royalty', chambers_admin_royalty_index_path %><br>
<%= link_to 'Edit News', edit_chambers_admin_news_path(peerage)%></br>
<%= link_to 'Manage Polls', chambers_admin_polls_path(peerage) %> <% if poll&.future? || poll&.active? %>| <%= poll.start_date.strftime('%d-%b-%Y') %> 12:01 AM - <%= poll.end_date.strftime('%d-%b-%Y') %> 11:59 PM<%end%></br>
