<div role="tabpanel" class="tab-pane" id="contact">
   <%= f.text_field :street %>
   <%= f.text_field :city %>
   <%= f.text_field :state %>
   <%= f.text_field :zipcode %>
   <%= f.telephone_field :phone %>
</div> 
