<% poll = Poll.current(peerage) %>
<%= link_to 'View Your Profile', peer_path(peerage, current_user.slug) %><br>
<%= link_to 'Edit Your Profile', users_edit_path( peerage: peerage ) %><br>
<%= link_to 'Change Your Password', users_edit_password_path %><br />
<%= link_to 'View Candidates', chambers_candidates_path(peerage) %><br>
<%= link_to 'Browse Candidates By Group', chambers_groups_path(peerage) %><br/>
<%= link_to 'Browse Candidates By Specialty', chambers_specialties_path(peerage) %><br/>
<% if poll.present? && can?(:take_poll, peerage) %>
  <% ballot = Ballot.new(current_user.peer(peerage)) %>
  <% unless ballot.complete? %>
    <%= link_to 'Take Poll', chambers_ballot_path(peerage)%> | <%="#{ballot.submission_count}/#{ballot.candidates.count}"%> Submitted |
  <% else  %>
    <%= link_to 'Edit Poll', chambers_ballot_path(peerage)%> Finished! | 
  <%end %>
  Open Until Midnight on: <%= poll.end_date.strftime('%d-%b-%Y') %> <br/>
<% end %>
<h4>News</h4>
<%= markdown(Peer.news_body(peerage)) %>
<small>Last updated: <%=Peer.news_last_updated(peerage)%></small><br>

