<h1>Edit Profile</h1>
<div class="container">
  <div class="col-md-6">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
      <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
      <li role="presentation"><a href="#peer" aria-controls="peer" role="tab" data-toggle="tab">Peer</a></li>
      <li role="presentation"><a href="#images" aria-controls="contact" role="tab" data-toggle="tab">Images</a></li>
    </ul>
    <%= semantic_form_for @user, url: users_edit_path do |f| %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="personal">
      <%= f.inputs do %>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <%= f.input :modern_name, label: 'Modern Name' %>
        <%= f.input :specialties %>
        <%= f.input :specialty_detail %>
        <%= f.input :group, :as => :select, :collection => Hash[Group.all.map{|g| ["#{g.group_type.name} of #{g.name}",g.id]}]%>
        <%= f.input :active, label: "Active?" %>
        <%= f.input :vigilant, label: "Vigilant?" %>
        <%= f.input :elevators, label: "Elevated by" %>
        <%= f.input :elevation_date  %>
        <%= f.input :laurels, label: 'Apprenticed To:', :collection => User.pluck(:sca_name, :id)%>
        <%= f.input :apprenticed_to, label: 'Apprenticed To: (Not in Middle Kingdom)'  %>
        <%= f.input :bio %>
      <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="contact">
      <%= f.inputs do %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :zipcode %>
        <%= f.input :phone %>
      <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="peer">
      </div>
      <div role="tabpanel" class="tab-pane" id="images">
      <%= f.inputs do %>
        <%= f.input :arms %>
        <div id='user_profile_pic_input' class='form-group'>
          <span class="form-label"><label for="profile_pic" class="control-label">Profile Pic</label></span>
          <span class="form-wrapper">
            <input id="profile_pic" type="file" name="not_included">
          </span>
        </div>
        <input type="hidden" id="user_profile_pic" name="user[profile_pic]" value=''>
      <% end %>
  
      </div>
      
      <%= f.button class: 'btn btn-default', id: 'submit' %>
    <% end %>
    </div>
  </div>
  <div class="col-md-4 hidden" id="image_preview">
    <div id="arms_preview">
        <%= image_tag @user.arms.url(:large) %>
    </div>
    <div id="profile_preview">
        <%= image_tag @user.profile_pic.url(:large) %>
    </div>
    <button class="btn btn-default hidden" id="crop">Finish</button>
  </div>
</div>
