<h1>Edit Profile</h1>
<div class="container">
  <div class="col-md-6">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
      <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
      <li role="presentation"><a href="#peer" aria-controls="peer" role="tab" data-toggle="tab">Peer</a></li>
    </ul>
    <%= semantic_form_for @user, url: users_edit_path do |f| %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="personal">
      <%= f.inputs do %>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <%= f.input :modern_name, label: 'Modern Name' %>
        <%= f.input :arms %>
        <%= f.input :specialties %>
        <%= f.input :group, :as => :select, :collection => Hash[Group.all.map{|g| ["#{g.group_type.name} of #{g.name}",g.id]}]%>
        <%= f.input :laurels, label: 'Apprenticed To:', :collection => User.pluck(:sca_name, :id)%>
      <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="contact">
      <%= f.inputs do %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :zipcode %>
        <%= f.input :phone %>
      <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="peer">
        <%= f.inputs do %>
          <%= f.semantic_fields_for :peer do |p| %>
            <%= p.inputs do %>
              <div id='user_peer_attributes_profile_pic_input' class='form-group user-profile-pic-input'>
                <span class="form-label"><label for="profile_pic" class="control-label">Profile Pic</label></span>
                <span class="form-wrapper">
                  <input id="profile_pic" type="file" name="not_included">
                </span>
              </div>
              <input type="hidden" class="profile-pic-actual" id="user_peer_attributes_profile_pic" name="user[peer_attributes][profile_pic]" value=<%=@user.peer.profile_pic_data_uri%>>
              <%= image_tag @user.peer.profile_pic.url(:large), class:'hidden profile-pic-cache' %>
              <%= p.input :specialty_detail %>
              <%= p.input :elevated_by %>
              <%= p.input :elevation_date %>
              <%= p.input :active, label: "Active?" %>
              <%= p.input :vigilant, label: "Vigilant?" %>
              <%= p.input :apprenticed_to, label: 'Apprenticed To: (Not in Middle Kingdom)'  %>
              <%= p.input :bio %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
      <%= f.button class: 'btn btn-default', id: 'submit' %>
    <% end %>
    </div>
  </div>
  <div class="col-md-4 image-preview-container" id="arms_preview_container">
    <div id="arms_preview">
        <%= image_tag @user.arms.url(:large) %>
    </div>
  </div>
  <div class="col-md-4 image-preview-container hidden" id="profile_pic_preview_container">
    <div id="profile_preview">
        
    </div>
    <button class="btn btn-default hidden" id="crop">Finish</button>
  </div>
</div>
