
<div class="container">
  <div class="col-md-4">
    <h1>Edit Profile</h1>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
      <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
      <li role="presentation"><a href="#images" aria-controls="contact" role="tab" data-toggle="tab">Images</a></li>
    </ul>
    <%= semantic_form_for @user, url: users_edit_path do |f| %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="personal">
      <%= f.inputs do %>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <%= f.input :modern_name, label: 'Modern Name' %>
        <%= f.input :specialties %>
        <%= f.input :active, label: "Active?" %>
        <%= f.input :vigilant, label: "Vigilant?" %>
        <%= f.input :elevators, label: "Elevated by" %>
        <%= f.input :elevation_date  %>
        <%= f.input :bio %>
      <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="contact">
      <%= f.inputs do %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :zipcode %>
        <%= f.input :phone %>
      <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="images">
      <%= f.inputs do %>
        <%= image_tag @user.profile_pic.url(:small) %>
        <%= f.input :profile_pic %>
        <%= image_tag @user.arms.url(:small) %>
        <%= f.input :arms %>
      <% end %>
  
      </div>
      
      <%= f.button class: 'btn btn-default' %>
    <% end %>
    </div>
  </div>
</div>

<script>
  $("#user_specialty_ids").select2();
  var simplemde = new SimpleMDE();
</script>
