<h1>Edit Profile</h1>
<div class="container">
  <div class="d-md-flex flex-row">
    <div class="col-md">

      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if peerage.nil? %> " href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
        <li role="presentation"><a  class="nav-link" href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
        <% @user.peers.each do |p| %>
          <% link_class = 'nav-link' %>
          <% link_class = link_class + ' active' if peerage == p.order  %>
          <li role="presentation" class="nav-item"><%= link_to p.peerage_name, "##{p.peerage_type}", class: link_class, role: 'tab', 'data-toggle': 'tab' %></li>
        <% end %>
      </ul>


      <%= bootstrap_form_for @user, url: users_edit_path do |f| %>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane <%= 'show active' if peerage.nil? %>  " id="personal">
          <%= f.text_field :sca_name, label: 'SCA Name' %>
          <%= f.text_field :modern_name, label: 'Modern Name' %>
          <%= f.file_field :arms, class: 'd-none d-md-block' %>
          <div class="d-md-none alert alert-info">Update Arms on larger screen</div>
          <%= f.select :group_id, Hash[Group.all.map{|g| ["#{g.group_type.name} of #{g.name}",g.id]}], {label: 'Group'}%>
        </div>
        <div role="tabpanel" class="tab-pane" id="contact">
          <%= f.text_field :street %>
          <%= f.text_field :city %>
          <%= f.text_field :state %>
          <%= f.text_field :zipcode %>
          <%= f.telephone_field :phone %>
        </div>
        <% @user.peers.each do |peer| %>
        <%= render  'peer_form', f: f, peer: peer 
        %>
        <%end %>
        
        <%= f.submit class: 'btn btn-default', id: 'submit' %>
      <% end %>
      </div>
    </div>

  <%= render 'image_preview', user: @user %>
  
</div>
