<h1>Private Chambers</h1>
<%= link_to 'View Your Profile', current_user.url %><br>
<%= link_to 'Edit Your Profile', '/users/edit' %><br>
<%= link_to 'View Candidates', '/chambers/candidates' %><br>
<% if !@poll.nil? && @poll.active? && can?(:take, Poll) %>
  <% unless current_user.poll_complete? %>
    <%= link_to 'Take Poll', poll_path %> | <%="#{current_user.poll_submitted_count}/#{Candidate.all.count}"%> Submitted |
  <% else  %>
    <%= link_to 'Edit Poll', poll_path %> Finished! | 
  <%end %>
  Open Until Midnight on: <%= @poll.end_date.strftime('%d-%b-%Y') %> <br/>
<% end %>

<% if can? :manage, :all %>
  <h3>Admin Tasks</h3>
  <%= link_to 'Manage Candidates', admin_candidates_path %><br>
  <%= link_to 'Manage Laurels', admin_laurels_path %><br>
  <%= link_to 'Manage Royalty', admin_royalty_index_path %><br>
  <% unless @poll.nil? %>
    <% if @poll.end_date.past? %>
      <%= link_to 'Create New Poll', new_admin_poll_path %>
    <% else  %>
      <%= link_to 'Edit Poll', edit_admin_poll_path %> | <%= @poll.start_date.strftime('%d-%b-%Y') %> 12:01 AM - <%= @poll.end_date.strftime('%d-%b-%Y') %> 11:59 PM
    <% end %>
  <% else %>
    <%= link_to 'Create New Poll', new_admin_poll_path %>
  <% end %></br>
<% end %>
