<h1>Private Chambers</h1>
<%= link_to 'Edit Your Profile', '/users/edit' %><br>
<%= link_to 'View Candidates', '/chambers/candidates' %>

<% if can? :manage, :all %>
<h3>Admin Tasks</h3>
<%= link_to 'Manage Candidates', admin_candidates_path %><br>
<%= link_to 'Manage Laurels', admin_laurels_path %><br>
<%= link_to 'Polling', '#' %>
<% end %>
