<h1>Add New Laurel</h1>
<div class="container">
  <div class="col-md-4">
    <%= semantic_form_for @user do |f| %>
      <%= f.inputs do %>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <%= f.input :email %>
      <% end %>
      <%= f.button class: 'btn btn-default', id: 'submit' %>
    <%end%> 
