<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', '/' %></li>
    <li class="breadcrumb-item">Laurel</li>
    <li class="breadcrumb-item active" aria-current="page">Groups</li>
  </ol>
</nav>
<h1><%=peerage.capitalize%>s by Location</h1>
<ul>
<% @kingdoms.each do |kingdom| %>
  <% peer_total = kingdom.all_peers(peerage).count %>
  <% if peer_total > 0 %>
  <li>
    <%= link_to kingdom, group_path(peerage,kingdom.slug) %> (<%=peer_total%>)
    <ul><%= render '/peerage/groups/draw_tree', node: kingdom %></ul>
  </li>
  <% end %>
<% end %>
</ul>
