<% title "#{peerage.capitalize}s in #{@group}" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', '/' %></li>
    <li class="breadcrumb-item"><%= link_to peerage.capitalize, order_path(peerage)%></li>
    <li class="breadcrumb-item"><%= link_to 'Groups', groups_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@group%></li>
  </ol>
</nav>
<div class="container <%=peerage%>-border-left">
  <h1><%=@group%></h1>
  <ul>
  <%= render '/peerage/groups/draw_tree', node: @group %>
  </ul>
  <%= render '/shared/peers_table', peers: @group.all_peers(peerage)%>
</div>
