<%= link_to 'Back to Groups', '/chambers/groups' %><br/>
<h1><%=@group.titled_name%></h1>
<ul>
  <%= render 'draw_tree', node: @group %>
</ul>
<h3>Candidates</h3>
<table class="table">
<thead>
<th>Name</th><th>Specialty</th><th>Group</th>
</thead>
<tbody>

<% @group.all_candidates.each do |candidate| %>
  <tr>
  <td><%= link_to candidate.sca_name, candidate_path(candidate.id) %></td>
  <td><%=candidate.show_specialties%></td>
  <td><%=link_to "#{candidate.group.group_type.name} of #{candidate.group.name}", 
      candidate_group_url(candidate.group.name) %></td>
  </tr>
<% end %>

</tbody>
</table>
<ul>
</ul>
<ul>
<% @group.candidates.each do |candidate|%>
  <li><%= link_to candidate.sca_name, candidate_path(candidate.id) %></li>
<% end %>
</ul>
