<h3><%=peerage.capitalize%> Candidates</h3>
<table class="table">
<thead>
<th>Name</th><th>Specialty</th><th>List</th><th>Group</th>
</thead>
<tbody>

<% candidates.each do |candidate| %>
  <tr>
  <td><%= link_to candidate.sca_name, chambers_candidate_path(peerage,candidate.id)%></td>
  <td><%=candidate_specialties_link(candidate)%></td>
  <td><%=candidate.list%></td>
  <td><%=link_to candidate.group, chambers_group_path(peerage, candidate.group.slug) unless candidate.group.nil?%></td>
  </tr>
<% end %>

</tbody>
</table>
<%= render '/shared/default_datatable' %>
