<% comments.each do |comment| %>
<div class="p-2 comment">
  <div style="width:120px;float:left;text-align:center">
    <%= link_to (image_tag comment.peer.profile_pic_thumb), peer_path(peerage,comment.peer.slug) %><br/><%= link_to comment.peer.sca_name, peer_path(peerage,comment.peer.slug)%><br>
  </div>
  <p><strong>Date</strong>: <%= comment.created_at.strftime("%b %d, %Y") %><br>
  <% if comment.peer.user === current_user %>
    <%= link_to 'Edit Comment', edit_chambers_comment_path(comment.id) %>
  <% end %></p>
  <%= markdown(comment.text) %>
</div>
<% end %>
