<% if documents.count > 0 %>
  <table class="table">
  <thead>
  <th>Document</th><th>Name</th><th>Description</th><th>Submission Date</th><th>Submitted By</th>
  </thead>
  <% documents.each do |doc| %>
    <tr>
      <td><%= link_to image_tag(doc.document_thumb), doc.document_full%></td>
      <td><%= doc.name %></td>
      <td><%= doc.description %></td>
      <td><%= doc.created_at.strftime('%b %-d, %Y')%></td>
      <td><%= link_to doc.peer.sca_name, peer_path(peerage, doc.peer.slug)%></td>
    </tr>
  <% end %>
  </table>
<% else %>
  There are currently no documents. You can upload one below.
<% end %>
