<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "#{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %></li>
    <li class="breadcrumb-item" aria-current="page"><%=link_to @candidate.sca_name, chambers_candidate_path(peerage,@candidate.id)%></li>
    <li class="breadcrumb-item active" aria-current="page">Documents</li>
  </ol>
</nav>
<div class ="d-md-flex flex-row-reverse">
  <div >
    <%= image_tag @candidate.profile_pic_full %>
  </div>
  <div class="col-md">
    <h1><%=@candidate.sca_name%><br/><small class="text-muted"><%=@candidate.specialties%></small></h1>
        <strong><%= @candidate.list %> List</strong></br>
        <% if @candidate.specialties.empty? %>
          <strong>Specialties</strong>: <%= @candidate.specialties %> </br>
        <% end %>
        <% if @candidate.advocates? %>
          <strong>Advocates</strong>: <%= @candidate.advocates %><br/>
        <%end%>
        <% if @candidate.group %>
          <strong>Group</strong>: <%= candidate_link(@candidate.group, peerage) %><br>
        <% end %>
<h3><%= link_to 'Comments', chambers_candidate_path(peerage,@candidate.id)%></h3>
<h3>Documents</h3>
        <%= render 'gallery', documents: @candidate.documents %>
        <h3>Add an Image/Document</h3>
        <%= bootstrap_form_for @document, url: chambers_documents_path do |f| %>
          <%= f.file_field :document, label: 'File' %>
          <%= f.hidden_field :candidate_id, value: @candidate.id %>
          <%= f.text_field :name %>
          <%= f.text_field :description %>
          <%= f.submit %>
        <% end %> 
