<div style="text-align:center;">
  <h1>Middle Kingdom Peerage Orders</h1>
      <div class="row">
        <!--
        <div class="col-sm">
          <%= image_tag(Defense.image) %>
          <h3><%= link_to 'The Order of Defense', order_path('defense')%></h3>
        </div>
        -->
        <div class="col-sm">
          <%= image_tag(Laurel.image) %>
          <h3><%= link_to 'The Order of the Laurel', order_path('laurel')%></h3>
        </div>
        <div class="col-sm">
          <%= image_tag(Pelican.image) %>
          <h3><%= link_to 'The Order of the Pelican', order_path('pelican')%></h3>
        </div>
      </div>
</div>
