<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', '/' %></li>
    <li class="breadcrumb-item"><%=peerage.capitalize%></li>
    <li class="breadcrumb-item active" aria-current="page">Specialties</li>
  </ol>
</nav>
<h1><%=peerage.capitalize%> Specialties</h1>
<ul>
<% @specialties.each do |spec| %>
  <% count = spec.peers.count%>
  <% if count > 0 %>
  <li><%=link_to spec.name.capitalize, specialty_path(peerage, spec.slug)%> (<%=count%>)</li>
  <% end %>
<%end %>
</ul>
