<div class="container">
  <div class="row">
    <div class="col-md">
      <%= bootstrap_form_for(@candidate, url: url ) do |f| %>
        <%= f.hidden_field :peerage_type %>
        <%= f.text_field :sca_name, label: 'SCA Name' %>
        <div class="d-md-none alert alert-info"><% if @candidate.persisted? %>Update<%else%>Add<%end%> Candidate Profile Pic on larger screen</div>
        <div class="d-none d-md-block form-group">
          <label for="profile_pic_input">Profile Pic</label>
          <div id='candidate_profile_pic_input' class="custom-file">
            <input type="file" class="custom-file-input profile-pic" id="profile_pic_input" name="not_included">
            <label class="custom-file-label" for="profile_pic_input">Choose Profile Pic</label>
          </div>
        </div>
        <% if @candidate.persisted? %>
          <%= f.form_group :vote, label: {text: "List Status"} do %>
            <%= f.radio_button :vote, true, label: "Vote" %>
            <%= f.radio_button :vote, false, label: "Watch" %>
          <% end %> 
        <% end %>
        <%= f.select :group_id, Hash[Group.after_depth(0).map{|g| ["#{g.group_type.name} of #{g.name}",g.id]}], {label: 'Group', include_blank: true, }, {class: 'selectpicker', data: {'live-search' => 'true'} } %>
        <%= f.select :specialty_ids, 
          Specialty.where(peerage_type: peerage).pluck(:name, :id).map{|x| [ Specialty.find(x[1]).ancestors? ? "#{Specialty.find(x[1]).parent.name} -> #{x[0]}" : x[0] , x[1]] }.sort,
         {label: 'Specialties', include_blank: true}, {class: 'selectpicker', data: {'live-search' => 'true'}, multiple: true} %>
        <%= f.text_field :specialty_detail %>
        <%= f.select :peer_ids, Peer.where(type: peerage.capitalize).joins(:user).pluck(:sca_name, :id).sort, {label: 'Advocates', include_blank: true}, {class: 'selectpicker', data: {'live-search' => 'true'}, multiple: true } %>
        <input data-behavior="profile-data" class='active' type="hidden" id="candidate_profile_pic" name="candidate[profile_pic]" value=''>
      <%= f.submit class: 'btn btn-secondary', id: 'candidate_submit'%>
      <% end %>
    </div>
    <div class="d-none d-md-block col-md">
      <div class="d-flex flex-column">
        <div id="croppie" class='d-none'>
        </div>
        <div id="profile_preview">
          <% if @candidate.profile_pic.attached?%>
            <%= image_tag @candidate.profile_pic_full %>
          <% end %>
        </div>
        <div class="ml-5">
          <button class="btn btn-default d-none " id="crop_button">Finish</button>
        </div> 
      </div>
    </div>
  </div>
</div>
