<% title "Manage Candidates"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage <%=peerage.capitalize%> Candidates</li>
  </ol>
</nav>
<div class="container <%=peerage%>-border-left">
  <h1>Manage <%=peerage.capitalize%> Candidates</h1>
  <%= link_to 'Add New Candidate', new_chambers_admin_candidate_path(peerage)%>
  <table class='table' data-behavior="dtable">
    <thead>
      <th>Name</th><th>Show</th><th>Edit</th><th>Remove</th>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
        <tr>
        <td><%=candidate.sca_name%></td>
        <td><%=link_to 'Show', chambers_candidate_path(peerage,candidate.id)%></td>
        <td><%=link_to 'Edit', edit_chambers_admin_candidate_path(peerage,candidate.id)%></td>
        <td><%=link_to 'Remove', chambers_admin_candidate_path(peerage,candidate.id), method: :delete, data: { confirm: 'Are you Sure?' }%></td>
        </tr>
      <% end %>
    </tbody
  </table>
</div>
