<table class="table">
<thead>
<th>Name</th>
<% if can?(:read, PollResult) %>
<th>Comments from Last Poll</th>
<% end %>
<th>Elevate now</th><th>Wait</th><th>No Strong Opinion</th><th>Drop</th>
<th>Rec%</th><th>Fav%</th><th>Region</th><th>Advocate(s)</th>
</thead>
<tbody>
  <% candidates.each do |cand| %>
    <% pr = cand.poll_results.last %>
   <tr>
    <td><%= link_to "#{cand.sca_name} (#{cand.show_specialties})", candidate_path(cand.id) %></td>
    <% unless pr.nil? %>
    <% if can?(:read, PollResult) %>
        <td><%= link_to 'Comments', poll_comments_path(cand.id) %></td>
    <% end %>
      <td><%=pr.elevate%></td>
      <td><%=pr.wait%></td>
      <td><%=pr.no_strong_opinion%></td>
      <td><%=pr.drop%></td>
      <td><%=pr.rec%></td>
      <td><%=pr.fav%></td>
    <%else%>
    <% if can?(:read, PollResult) %>
        <td></td>
    <% end %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <%end%>
    <td>
    <% if cand.group %>
      <%= candidate_region_link cand.group %>
    <% end %>
    </td>
    <td>
      <% cand.users.each do |u| %>
        <%= link_to u.sca_name, u.url%> 
      <% end %>
   <td>
   <tr> 
  <% end%>
</tbody>
</table>
