<table class="table">
<thead>
<th>Name</th><th>Elevate now</th><th>Wait</th><th>No Strong Opinion</th><th>Drop</th>
<th>Rec%</th><th>Fav%</th><th>Region</th><th>Advocate(s)</th>
</thead>
<tbody>
  <% candidates.each do |cand| %>
    <% pr = cand.poll_results.first %>
   <tr>
    <td><%= link_to "#{cand.sca_name} (#{cand.show_specialties})", candidate_path(cand.id) %></td>
    <% unless pr.nil? %>
      <td><%=pr.elevate%></td>
      <td><%=pr.wait%></td>
      <td><%=pr.no_strong_opinion%></td>
      <td><%=pr.drop%></td>
      <td><%=pr.rec%></td>
      <td><%=pr.fav%></td>
    <%else%>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <%end%>
    <td></td>
    <td>
      <% cand.users.each do |u| %>
        <%= link_to u.sca_name, u.url%> 
      <% end %>
   <td>
   <tr> 
  <% end%>
</tbody>
</table>
