<h1><%=@candidate.sca_name%> <small><%=@candidate.show_specialties%></small></h1>
<%= image_tag @candidate.profile_pic.url(:thumb) %>
<%= image_tag @candidate.profile_pic.url(:large) %>
<br>
<% if @candidate.specialties.count > 0 %>
  <strong>Specialties</strong>: <% @candidate.specialties.each do |spec| %>
  <%= spec.name %>  
  <% end %><br>
<% end %>
<% if @candidate.users.count > 0 %>
  <strong>Advocates</strong>: <% @candidate.users.each do |adv| %>
  <%=link_to adv.sca_name, adv.url %> 
  <% end %><br>
<%end%>
<strong>Group</strong>: <%= candidate_link @candidate.group %>
<h3>Comments</h3>
<% @candidate.comments.each do |comment| %>
  <div>
  <strong>Comment by:</strong><%=comment.user.sca_name%><br>
  <%= markdown(comment.text) %>
  </div>
<% end %>
<h3>Add A Comment</h3>
<%= semantic_form_for @comment, url: comments_path do |f| %>
  <%= f.inputs do %>
    <%= f.input :text, label: 'Comment' %>
    <%= f.input :candidate_id, :as => :hidden, :input_html => {:value => @candidate.id} %>
  <% end %>
  <%= f.button class: 'btn btn-default' %>
<% end %> 
<script>
  var simplemde = new SimpleMDE();
</script>
