<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Royalty</li>
  </ol>
</nav>
<h1>Manage Royalty</h1>
<table class='table' data-behavior="dtable">
<thead>
<%= link_to 'Add New Royal', new_chambers_admin_royalty_path %>
<th>SCA Name</th><th>Royal Status</th><th>Edit</th>
</thead>
<tbody>
<% @users.order(royalty: :desc).each do |user| %>
<tr>
  <% if user.royalty %>
  <td><strong><%=user.sca_name%></strong></td>
  <td><%=user.royalty%></td>
  <% else %>
  <td><%=user.sca_name%></td>
  <td></td>
  <% end %>
<td><%= link_to 'Edit', edit_chambers_admin_royalty_path(user.id)%></td>
</tr>
<%end%>
</tbody>
</table>
