<h1>Add New Royal</h1>
<div class="container">
  <div class="col-md-4">
    <%= semantic_form_for @royal, as: :royal, url: chambers_admin_royalty_index_path do |f| %>
      <%= f.inputs do %>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <%= f.input :email %>
      <% end %>
      <%= f.action :submit, as: :button,  label: 'Create Royal', button_html: {class: 'btn btn-default'}, id: 'submit'%>
    <%end%> 
  </div>
</div>
