<% title "Add New Royal"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "Manage Royalty", chambers_admin_royalty_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>
<h1>Add New Royal</h1>
<div class="container">
  <div class="col-md-4">
    <%= bootstrap_form_for @royal, as: :royal, url: chambers_admin_royalty_index_path do |f| %>
      <%= f.text_field :sca_name, label: 'SCA Name' %>
      <%= f.email_field :email %>
      <%= f.submit 'Create Royal'%>
    <%end%> 
  </div>
</div>
