<table class="table" data-behavior="dtable-hidepics" data-order='[[2, "asc"],[0,"asc"]]'>
<thead>
<th>Name</th>
<% if Peer.subclass(peerage).specialties_on? %>
  <th>Specialties</th>
<% end %>
<th>List</th>
<% if can?(:read, PollResult) %>
<th>Comments from Last Poll</th>
<% end %>
  <th class="d-none d-md-table-cell">Elevate now</th>
  <th class="d-none d-md-table-cell">Wait</th>
  <th class="d-none d-md-table-cell">Drop</th>
  <th class="d-none d-md-table-cell">No Strong Opinion</th>
  <th class="d-none d-md-table-cell" >No Counsel</th>
  <th class="d-none d-md-table-cell" title="(E+D+W)/(Total Respondents)">Rec%</th>
  <th class="d-none d-md-table-cell" title="(E-D)/(Total Respondents)">Fav%</th>
  <th>Region</th>
  <th>Advocate(s)</th>
</thead>
<tbody>
  <% candidates.each do |cand| %>
    <tr class="<%=cand.index_tr_class %>" >
      <td style="width:140px;text-align:center">
        <div class="profile_pic"><%= link_to (image_tag cand.profile_pic_thumb), chambers_candidate_path(peerage,cand.id) %></div>
        <%= link_to "#{cand.sca_name}", chambers_candidate_path(peerage,cand.id)%>
      </td>
      <% if Peer.subclass(peerage).specialties_on? %>
        <td><%=cand.specialties%></td>
      <%end%>
      <td><%=cand.status%></td>
      <% if can?(:read, PollResult) %>
        <td>
          <% if cand.poll_result? %><%= link_to 'Comments', chambers_poll_comments_path(peerage,cand.id)%><%end%>
        </td>
      <% end %>
      <td class="d-none d-md-table-cell"><%=cand.elevate%></td>
      <td class="d-none d-md-table-cell"><%=cand.wait%></td>
      <td class="d-none d-md-table-cell"><%=cand.drop%></td>
      <td class="d-none d-md-table-cell"><%=cand.no_strong_opinion%></td>
      <td class="d-none d-md-table-cell"><%=cand.no_response%></td>
      <td class="d-none d-md-table-cell"><%=cand.rec%></td>
      <td class="d-none d-md-table-cell"><%=cand.fav%></td>
      <td> <% if cand.group.present? %> <%= candidate_region_link(cand.group,peerage) %> <% end %> </td>
      <td> <%= cand.advocates %> </td>
   </tr> 
  <% end%>
</tbody>
</table>
