<% title "#{peerage.capitalize} Candidates"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= peerage.capitalize %> Candidates</li>
  </ol>
</nav>
  <div class="container <%=peerage%>-border-left">
  <h1><%= peerage.capitalize %> Candidates</h1> 
    <i>Poll results from <%=@poll_date %></i></br>
<%= render 'chambers/peerage/candidates/table', candidates: @candidates%>
</div>


