<% title "Full Poll Results"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "#{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page">Full Poll Results for <%=@candidate.sca_name%></li>
  </ol>
</nav>
<h3>Full Poll Results<br><small>Poll Dates: <%=@candidate.poll_date%></small></h3>
<div class ="d-md-flex flex-row-reverse">
  <div >
    <%= image_tag @candidate.profile_pic_full %>
  </div>
  <div class="col-md">
    <h1><%= link_to @candidate.sca_name, chambers_candidate_path(peerage,@candidate.id)%></h1>
    <% if @candidate.specialties? %>
      <strong>Specialties</strong>: <%= @candidate.specialties %><br>
    <% end %>
    <% if @candidate.advocates? %>
      <strong>Advocates</strong>: <%= @candidate.advocates %> <br>
    <%end%>
    <% if @candidate.group %>
    <strong>Group</strong>: <%= candidate_link(@candidate.group,peerage) %>
    <% end %>
    <table class="table">
    <thead>
    <th>Elevate</th><th>Wait</th><th>No Strong Opinion</th><th>Drop</th>
    <th>Rec%</th><th>Fav%</th>
    </thead>
    <tbody>
    <tr>
      <td><%=@candidate.elevate%></td>
      <td><%=@candidate.wait%></td>
      <td><%=@candidate.no_strong_opinion%></td>
      <td><%=@candidate.drop%></td>
      <td><%=@candidate.rec%></td>
      <td><%=@candidate.fav%></td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
  
  <h3>Order Advisings</h3>
  <table class="table" data-behavior="dtable-shave">
    <thead>
      <th>Peer</th>
      <th>Judgement</th>
      <th>Comment</th>
    </thead>
    <tbody>
    <% @candidate.advisings.each do |adv| %>
      <tr> 
        <td style="width:140px;text-align:center">
          <%= link_to (image_tag adv.peer.profile_pic_thumb), peer_path(peerage,adv.peer.slug) %><br>
          <%= link_to "#{adv.peer.sca_name} #{adv.peer.specialties_suffix}", peer_path(peerage,adv.peer.slug)%> 
        </td>
        <td>
          <%= adv.judgement_name %> 
        </td> 
        <td data-behavior="shave">
          <div class="short"> <%= markdown(adv.shortened_comment) %></div>
          <div class="long d-none"><%=markdown(adv.comment)%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
