<h3>Full Poll Results for</h3>
<div class="col-md-8">
  <h1><%= link_to @candidate.sca_name, chambers_candidate_path(peerage,@candidate.id)%></h1>
  <% if @candidate.specialties.count > 0 %>
    <strong>Specialties</strong>: <%= @candidate.specialties_link %><br>
  <% end %>
  <% if @candidate.peers.count > 0 %>
    <strong>Advocates</strong>: <%= @candidate.advocates_link %> <br>
  <%end%>
  <% if @candidate.group %>
  <strong>Group</strong>: <%= candidate_link(@candidate.group,peerage) %>
  <% end %>
  <table class="table">
  <thead>
  <th>Elevate</th><th>Wait</th><th>No Strong Opinion</th><th>Drop</th>
  <th>Rec%</th><th>Fav%</th>
  </thead>
  <tbody>
  <tr>
    <td><%=@pr.elevate%></td>
    <td><%=@pr.wait%></td>
    <td><%=@pr.no_strong_opinion%></td>
    <td><%=@pr.drop%></td>
    <td><%=@pr.rec%></td>
    <td><%=@pr.fav%></td>
  </tr>
  </tbody>
  </table>
  
  <h3>Comments</h3>
  <% @pr.advisings.each do |adv| %>
  <div class="container" style="padding: 10px">
    <div class="col-md-2" style="text-align:center">
    <%= image_tag adv.peer.profile_pic.url(:thumb) %><br/>
    <%= link_to adv.peer.sca_name, peer_path(peerage,adv.peer.slug)%>
    </div>
    <div class="col-md-5">
    <strong>Judgement:</strong> <%=adv.judgement_name%><br/>
    <%= markdown(adv.comment) %>
    </div>
  </div>
  <% end %>
</div>
<div class="col-md-4">
<%= image_tag @candidate.profile_pic.url(:large) %>
</div>
