<% title @candidate.sca_name %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "#{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@candidate.sca_name%></li>
  </ol>
</nav>
<div class ="d-md-flex flex-row-reverse">
  <div >
    <%= image_tag @candidate.profile_pic_full %>
  </div>
  <div class="col-md">
    <h1><%=@candidate.sca_name%><br/><small class="text-muted"><%=@candidate.specialties%></small></h1>
        <strong><%= @candidate.list %> List</strong></br>
        <% if @candidate.specialties? %>
          <strong>Specialties</strong>: <%= @candidate.specialties %> </br>
        <% end %>
        <% if @candidate.advocates? %>
          <strong>Advocates</strong>: <%= @candidate.advocates %><br/>
        <%end%>
        <% if @candidate.group %>
          <strong>Group</strong>: <%= candidate_link(@candidate.group, peerage) %><br>
        <% end %>
          <i>Poll results from <%=@candidate.poll_date %></i></br>
          <table class="table d-none d-md-table">
            <thead>
              <th>Elevate</th>
              <th>Wait</th>
              <th>No Strong Opinion</th>
              <th>Drop</th>
              <th>Rec%</th>
              <th>Fav%</th>
            </thead>
            <tbody>
            <tr>
              <td><%=@candidate.elevate%></td>
              <td><%=@candidate.wait%></td>
              <td><%=@candidate.no_strong_opinion%></td>
              <td><%=@candidate.drop%></td>
              <td><%=@candidate.rec%></td>
              <td><%=@candidate.fav%></td>
            </tr>
            </tbody>
          </table>

          <table class="table d-md-none">
            <thead class="d-md-none">
              <th>E</th>
              <th>W</th>
              <th>NSO</th>
              <th>D</th>
              <th>Rec%</th>
              <th>Fav%</th>
            </thead>
            <tbody>
            <tr>
              <td><%=@candidate.elevate%></td>
              <td><%=@candidate.wait%></td>
              <td><%=@candidate.no_strong_opinion%></td>
              <td><%=@candidate.drop%></td>
              <td><%=@candidate.rec%></td>
              <td><%=@candidate.fav%></td>
            </tr>
            </tbody>
          </table>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
          <a class="nav-item nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents (<%=@candidate.document_count%>)</a>
        </div>
      </nav>
      <div class="tab-content">
        <div class="tab-pane show active" id="comments" role="tabpanel">
          <div class="d-flex flex-column" >
            <h3>Comments</h3>
            <%= render "/shared/comments", comments: @candidate.comments %>
            <div>
              <h3>Add A Comment</h3>
              <%= bootstrap_form_for @comment, url: chambers_comments_path do |f| %>
                <%= f.text_area :text, hide_label: true, placeholder: 'Leave a comment...', data: { behavior: 'markdown' } %>
                <%= f.hidden_field :candidate_id, value: @candidate.id %>
                <%= f.submit %>
              <% end %> 
            </div>
          </div>
        </div>
        <div class="tab-pane" id="documents" role="tabpanel">
          <div class="d-flex flex-column">
            <% if @candidate.documents? %>
              <%= render "/shared/documents_gallery", documents: @candidate.documents %>
            <% else %>
              There are currently no documents. You can upload one below.
            <% end %>
          <h3>Add an Image/Document</h3>
          <%= bootstrap_form_for @document, url: chambers_documents_path do |f| %>
            <%= f.file_field :document, label: 'File' %>
            <%= f.hidden_field :candidate_id, value: @candidate.id %>
            <%= f.text_field :name %>
            <%= f.text_field :description %>
            <%= f.submit %>
          <% end %> 
          </div>
        </div>
      </div>
  </div>
  <%= render "/shared/documents_gallery_modal" %>
</div>
