<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "#{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@candidate.sca_name%></li>
  </ol>
</nav>
<div class ="d-md-flex flex-row-reverse">
  <div >
    <%= image_tag @candidate.profile_pic.url(:large) %>
  </div>
  <div class="col-md">
    <h1><%=@candidate.sca_name%> <small><%=@candidate.specialties_link%></small></h1>
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
          <li role="presentation" class="nav-item active"><a id="info-tab" class="nav-link" href="#info" aria-controls="contact" role="tab" data-toggle="tab">Info</a></li>
          <li role="presentation" class="nav-itme"><a id="gallery-tab" class="nav-link" href="#gallery" aria-controls="contact" role="tab" data-toggle="tab">Gallery</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active " id="info">
        <strong><%= @candidate.vote ? 'Vote' : 'Watch' %> List</strong></br>
        <% if @candidate.specialties.count > 0 %>
          <strong>Specialties</strong>: <%= @candidate.specialties_link %> </br>
        <% end %>
        <% if @candidate.peers.count > 0 %>
          <strong>Advocates</strong>: <%= @candidate.advocates_link %><br/>
        <%end%>
        <% if @candidate.group %>
          <strong>Group</strong>: <%= candidate_link(@candidate.group, peerage) %><br>
        <% end %>
        <% unless @pr.nil? %>
          <table class="table d-none d-md-table">
            <thead>
              <th>Elevate</th>
              <th>Wait</th>
              <th>No Strong Opinion</th>
              <th>Drop</th>
              <th>Rec%</th>
              <th>Fav%</th>
            </thead>
            <tbody>
            <tr>
              <td><%=@pr.elevate%></td>
              <td><%=@pr.wait%></td>
              <td><%=@pr.no_strong_opinion%></td>
              <td><%=@pr.drop%></td>
              <td><%=@pr.rec%></td>
              <td><%=@pr.fav%></td>
            </tr>
            </tbody>
          </table>

          <table class="table d-md-none">
            <thead class="d-md-none">
              <th>E</th>
              <th>W</th>
              <th>NSO</th>
              <th>D</th>
              <th>Rec%</th>
              <th>Fav%</th>
            </thead>
            <tbody>
            <tr>
              <td><%=@pr.elevate%></td>
              <td><%=@pr.wait%></td>
              <td><%=@pr.no_strong_opinion%></td>
              <td><%=@pr.drop%></td>
              <td><%=@pr.rec%></td>
              <td><%=@pr.fav%></td>
            </tr>
            </tbody>
          </table>
        <% end%>
        <h3>Comments</h3>
        <div class="d-flex flex-column" >
          <% @candidate.comments.each do |comment| %>
          <div class="p-2">
            <div style="width:120px;float:left;text-align:center">
              <%= link_to (image_tag comment.peer.profile_pic.url(:thumb)), peer_path(peerage,comment.peer.slug) %><br/><%= link_to comment.peer.sca_name, peer_path(peerage,comment.peer.slug)%><br>
            </div>
            <p><strong>Date</strong>: <%= comment.created_at.strftime("%b %d, %Y") %><br>
            <% if comment.peer.user === current_user %>
              <%= link_to 'Edit Comment', edit_chambers_comment_path(comment.id) %>
            <% end %></p>
            <%= markdown(comment.text) %>
          </div>
          <% end %>
          <div>
            <h3>Add A Comment</h3>
            <%= bootstrap_form_for @comment, url: chambers_comments_path do |f| %>
              <%= f.text_area :text, hide_label: true, placeholder: 'Leave a comment...', data: { behavior: 'markdown' } %>
              <%= f.hidden_field :candidate_id, value: @candidate.id %>
              <%= f.submit %>
            <% end %> 
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="gallery">
        <%= render 'chambers/peerage/candidates/gallery', documents: @candidate.documents %>
        <h3>Add An Image/Document</h3>
        <%= bootstrap_form_for @document, url: chambers_documents_path do |f| %>
          <%= f.file_field :document, label: 'File' %>
          <%= f.hidden_field :candidate_id, value: @candidate.id %>
          <%= f.text_field :name %>
          <%= f.text_field :description %>
          <%= f.submit %>
        <% end %> 
      </div>
    </div>
  </div>
</div>
