<% title @candidate.sca_name %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "#{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@candidate.sca_name%></li>
  </ol>
</nav>
<div class ="d-md-flex flex-row-reverse">
  <div >
    <%= image_tag @candidate.profile_pic_full %>
  </div>
  <div class="col-md">
    <h1><%=@candidate.sca_name%><br/><small class="text-muted"><%=@candidate.specialties%></small></h1>
        <strong><%= @candidate.list %> List</strong></br>
        <% if @candidate.specialties? %>
          <strong>Specialties</strong>: <%= @candidate.specialties %> </br>
        <% end %>
        <% if @candidate.advocates? %>
          <strong>Advocates</strong>: <%= @candidate.advocates %><br/>
        <%end%>
        <% if @candidate.group %>
          <strong>Group</strong>: <%= candidate_link(@candidate.group, peerage) %><br>
        <% end %>
          <table class="table d-none d-md-table">
            <thead>
              <th>Elevate</th>
              <th>Wait</th>
              <th>No Strong Opinion</th>
              <th>Drop</th>
              <th>Rec%</th>
              <th>Fav%</th>
            </thead>
            <tbody>
            <tr>
              <td><%=@candidate.elevate%></td>
              <td><%=@candidate.wait%></td>
              <td><%=@candidate.no_strong_opinion%></td>
              <td><%=@candidate.drop%></td>
              <td><%=@candidate.rec%></td>
              <td><%=@candidate.fav%></td>
            </tr>
            </tbody>
          </table>

          <table class="table d-md-none">
            <thead class="d-md-none">
              <th>E</th>
              <th>W</th>
              <th>NSO</th>
              <th>D</th>
              <th>Rec%</th>
              <th>Fav%</th>
            </thead>
            <tbody>
            <tr>
              <td><%=@candidate.elevate%></td>
              <td><%=@candidate.wait%></td>
              <td><%=@candidate.no_strong_opinion%></td>
              <td><%=@candidate.drop%></td>
              <td><%=@candidate.rec%></td>
              <td><%=@candidate.fav%></td>
            </tr>
            </tbody>
          </table>
        <h3><%= link_to "Documents (#{@candidate.document_count})", chambers_documents_index_path(peerage, @candidate.id) %></h3>
        <h3>Comments</h3>
        <div class="d-flex flex-column" >
          <% @candidate.comments.sort_by(&:created_at).each do |comment| %>
          <div class="p-2">
            <div style="width:120px;float:left;text-align:center">
              <%= link_to (image_tag comment.peer.profile_pic_thumb), peer_path(peerage,comment.peer.slug) %><br/><%= link_to comment.peer.sca_name, peer_path(peerage,comment.peer.slug)%><br>
            </div>
            <p><strong>Date</strong>: <%= comment.created_at.strftime("%b %d, %Y") %><br>
            <% if comment.peer.user === current_user %>
              <%= link_to 'Edit Comment', edit_chambers_comment_path(comment.id) %>
            <% end %></p>
            <%= markdown(comment.text) %>
          </div>
          <% end %>
          <div>
            <h3>Add A Comment</h3>
            <%= bootstrap_form_for @comment, url: chambers_comments_path do |f| %>
              <%= f.text_area :text, hide_label: true, placeholder: 'Leave a comment...', data: { behavior: 'markdown' } %>
              <%= f.hidden_field :candidate_id, value: @candidate.id %>
              <%= f.submit %>
            <% end %> 
          </div>
    </div>
  </div>
</div>
