<% title @candidate.sca_name %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "#{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@candidate.sca_name%></li>
  </ol>
</nav>
<div class = "container <%=peerage%>-border-left">
<div class ="d-md-flex flex-row-reverse">
  <div class="ml-3 mb-3">
    <%= image_tag @candidate.profile_pic_full %>
  </div>
  <div class="col-md">
    <%= render "profile", candidate: @candidate %>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
          <a class="nav-item nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents (<%=@candidate.document_count%>)</a>
        <% if @old_advisings.any? %>
          <a class="nav-item nav-link" id="former-counsel-tab" data-toggle="tab" href="#former-counsel" role="tab" aria-controls="former-counsel" aria-selected="false">Former Counsel</a>
        <% end %>
        <% if @current_advising.exists? %>
          <a class="nav-item nav-link" id="current-counsel-tab" data-toggle="tab" href="#current-counsel" role="tab" aria-controls="current-counsel" aria-selected="false">Current Counsel</a>
        <% end %>
        </div>
      </nav>
      <div class="tab-content">
        <div class="tab-pane show active" id="comments" role="tabpanel">
          <div class="d-flex flex-column" >
            <h3>Comments</h3>
            <%= render "/shared/comments", comments: @candidate.comments %>
            <div>
              <h3>Add A Comment</h3>
              <%= bootstrap_form_for @comment, url: chambers_comments_path do |f| %>
                <%= f.text_area :text, hide_label: true, placeholder: 'Leave a comment...', data: { behavior: 'markdown' } %>
                <%= f.hidden_field :candidate_id, value: @candidate.id %>
                <%= f.submit %>
              <% end %> 
            </div>
          </div>
        </div>
        <div class="tab-pane" id="documents" role="tabpanel">
          <div class="d-flex flex-column">
            <% if @candidate.documents? %>
              <%= render "/shared/documents_gallery", documents: @candidate.documents %>
            <% else %>
              There are currently no documents. You can upload one below.
            <% end %>
          <h3>Add an Image/Document</h3>
          <%= bootstrap_form_for @document, url: chambers_documents_path do |f| %>
            <%= f.file_field :document, label: 'File' %>
            <%= f.hidden_field :candidate_id, value: @candidate.id %>
            <%= f.text_field :name %>
            <%= f.text_field :description %>
            <%= f.submit %>
          <% end %> 
          </div>
        </div>
        <% if @old_advisings.any? %>
        <div class="tab-pane" id="former-counsel" role="tabpanel">
          <h3> Former Counsel to the Crown </h3>
          <% @old_advisings.advisings.each do |old| %>
            <div class="p-2">
              <h5><%=old.date%></h3>
              <b>Judgement:</b> <%=old.judgement_name%><br>
              <b>Comment: </b>
              <div>
              <%= markdown(old.comment)%>
              </div> 
            </div>
          <% end %>
        </div>
        <%end %>
        <% if @current_advising.exists? %>
        <div class="tab-pane" id="current-counsel" role="tabpanel">
          <h3> Current Counsel to the Crown </h3>
            <%= link_to 'Edit Counsel', chambers_edit_ballot_candidate_path(peerage, @candidate.id), class: 'btn btn-primary' %><br>
            <div class="p-2">
              <h5><%=@current_advising.date%></h3>
              <b>Judgement:</b> <%=@current_advising.judgement_name%><br>
              <b>Comment: </b>
              <div>
              <%= markdown(@current_advising.comment)%>
              </div> 
            </div>
        </div>
        <%end %>
      </div>
  </div>
  <%= render "/shared/documents_gallery_modal" %>
</div>
</div>
