<% title "Edit #{peerage.capitalize} Poll"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit <%=peerage.capitalize%> Poll</li>
  </ol>
</nav>
<div class="container <%=peerage%>-border-left">
<h1>Edit <%=peerage.capitalize%> Poll</h1>
  <div class="container">
    <div class="col-md-4">
      <%= bootstrap_form_for @poll, url: chambers_admin_poll_path(peerage) do |f|%>
        <% if @poll.start_date > DateTime.now %>
          <%= f.text_field :start_date, value: @poll.start_date.strftime('%d-%b-%Y'), data: { behavior: 'startdatepicker' } %>
        <% end %>
        <%= f.text_field :end_date, value: @poll.end_date.strftime('%d-%b-%Y'), data: { behavior: 'enddatepicker' } %>
        <%= f.submit "Update Poll" %>
      <% end %>
    </div>
  </div>
</div>
