<% title "Manage #{peerage.capitalize} Polls"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage <%=peerage.capitalize%> Polls</li>
  </ol>
</nav>

  <div class="container <%=peerage%>-border-left">
<% if @polls.active? %>
<h2>Active Poll</h2>
 <%= link_to 'Edit', edit_chambers_admin_poll_path(peerage), class: "btn btn-primary" %> <%= @polls.active.duration %> <br> 
<%= link_to 'Status', chambers_admin_analyze_poll_path(peerage)  %><br>
<%= link_to 'Generate Offline Poll', chambers_admin_offline_poll_path %></br>
<%= link_to 'Submit Offline Poll', new_chambers_admin_offline_poll_submitter_path %></br>
<% else %>

  <h2>Future Poll</h2>
  <% if @polls.future? %>
    <%= @polls.future.duration %>  <%= link_to 'Edit', edit_chambers_admin_poll_path(peerage), class: "btn btn-primary" %>  <%= link_to 'Delete', chambers_admin_poll_path, method: :delete, class: "btn btn-primary", data: {confirm: "Are you sure?"} %>
  <% else %>
    <%= link_to 'Create Future Poll', new_chambers_admin_poll_path(peerage), class: "btn btn-primary" %>
  <% end %>
<% end %>

<h2>Past Polls</h2>
<table class="table">
<thead>
<th>Dates</th><th>Calculated?</th><th>Published?</th>
</thead>
<tbody>
<% @polls.past.each do |p| %>
<tr>
<td><%=p.duration%></td>
<td><%=p.calculation_status%> <%=button_to 'Calculate', chambers_admin_calculate_poll_path(peerage, p.id), method: 'put', class: 'btn btn-primary ml-3', form_class: 'd-inline' %> </td>
<td><%=p.published_status%> <%= button_to p.publish_button_text, chambers_admin_publish_poll_path(peerage,p.id), method: 'put', class: 'btn btn-primary ml-3', form_class: 'd-inline' %></td>
</tr>
<% end %>
</tbody>
</div>

