<h1>Create New <%=peerage.capitalize%> Poll</h1>
<div class="container">
  <div class="col-md-4">
    <%= bootstrap_form_for @poll, url: chambers_admin_poll_path(peerage) do |f| %>
      <%= f.text_field :start_date %>
      <%= f.text_field :end_date %>
      <%= f.submit "Create Poll" %>
    <%end%> 
  </div>

