<h1>Create New <%=peerage.capitalize%> Poll</h1>
<div class="container">
  <div class="col-md-4">
    <%= semantic_form_for @poll, url:controller.send("chambers_#{peerage}_admin_poll_path") do |f| %>
      <%= f.inputs do %>
        <%= f.input :start_date, as: :string %>
        <%= f.input :end_date, as: :string %>
      <% end %>
      <%= f.action :submit, as: :button, button_html: {class: 'btn btn-default'}, id: 'submit'%>
    <%end%> 
  </div>

