<% if signed_in? && current_user.sca_name == @laurel.sca_name %>
  <%= link_to('Edit Profile', '/users/edit') %>
<% end %>
<%= image_tag @laurel.laurel.profile_pic.url(:large), class: 'pull-right'%>
<div class="container">
  <%= image_tag @laurel.arms.url(:large)%>
  <h1><%=@laurel.sca_name%> <small><%=#@laurel.show_specialties
%></h1>
  <%= link_to "Send #{@laurel.sca_name} a Message", contact_laurel_path, class: "btn btn-primary" %><br/>
  <strong>Modern Name:</strong> <%=@laurel.modern_name%><br>
  <strong>Specialties:</strong><%=#@laurel.show_specialties
%> (<%= @laurel.peers.first.specialty_detail %>)<br/>
  <% unless @laurel.group.nil? %>
    <strong>Group:</strong> <%=laurel_link @laurel.group %> <br>
  <% end %>
  <strong>Contact Info</strong><br>
  <address>
    <%=@laurel.street%><br>
    <%=@laurel.city%>, <%=@laurel.state%> <%=@laurel.zipcode%><br>
    Phone: <%=@laurel.phone%>
  </address>
  <strong>Elevated by:</strong> <%=@laurel.peers.first.elevated_by%><br>
  <strong>Elevation Date:</strong> <%=@laurel.laurel.elevation_date%>
  <div style="margin-top:10px">
  <%= markdown(@laurel.laurel.bio) %>
  </div>
</div>
