<h1>Contact <%=@user.sca_name%></h1>
<div class="containter">
  <div class="col-md-6">
    <%= bootstrap_form_for 'contact', url: contact_path(peerage,@user.slug) do |f| %>
      <%= f.text_field :subject %>
      <%= f.text_field :from_name, label: 'Your Name' %> 
      <%= f.email_field :from_email, label: 'Your Email Address', as: :email %>
      <%= f.text_area :message, label: 'Your message', as: :text %>
      <div class="form-group">
        <%= recaptcha_tags %>
      </div>
      <%= f.submit 'Send Message'%>
    <% end %>
  </div>
</div> 
