<div class="container">
  <div class="col-md-4">
    <%= semantic_form_for([:chambers, :laurel, :admin, @candidate]) do |f| %>
      <%= f.inputs do %>
        <%= f.input :peerage_type, :as => :hidden %>
        <%= f.input :sca_name, label: 'SCA Name' %>
        <% if @candidate.persisted? %>
          <%= f.input :vote, :as => :radio, label: 'List Status', :collection => [['Vote', true],['Watch', false]]%>
        <% end %>
        <%= f.input :group, :as => :select, :collection => Hash[Group.after_depth(0).map{|g| ["#{g.group_type.name} of #{g.name}",g.id]}]%>
        <%= f.input :specialties %>
        <%= f.input :specialty_detail %>
        <%= f.input :peers, label: 'Advocates', collection: Peer.joins(:user).pluck(:sca_name, :id) %>
        <div id='candidate_profile_pic_input' class='form-group'>
          <span class="form-label"><label for="profile_pic" class="control-label">Profile Pic</label></span>
          <span class="form-wrapper">
            <input id="profile_pic" type="file" name="not_included">
          </span>
        </div>
        <input type="hidden" id="candidate_profile_pic" name="candidate[profile_pic]" value=''>
      <% end %>  
      <%= f.button class: 'btn btn-default', id: 'submit' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div id="profile-preview">
      <% unless @candidate.profile_pic_file_size.nil? %>
        <%= image_tag @candidate.profile_pic.url(:large) %>
      <% end %>
    </div>
    <button class="btn btn-default hidden" id="crop">Finish</button>
    <div id="-container"></div>
  </div>
</div>
