<!DOCTYPE html>
<html>
  <head>
    <title>Middle Kingdom Order of the Laurel</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Laurel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roll of Honor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/laurels">Roll of Honor</a></li>
            <li><a href="/groups">Laurels by Group</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://midrealm.org">Middle Kingdom</a></li>
            <li><a href="http://sca.org">SCA.org</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Middle Kingdom Chivalry</a></li>
            <li><a href="#">Middle Kingdom Pelican</a></li>
            <li><a href="#">Middle Kingdom Defense</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
        <li><a href="mailto:laurelsecretary@midrealm.org?Subject=Ask a Laurel">Ask a Laurel</a></li>
        <li><a href="mailto:laurelsecretary@midrealm.org">Order Secretary</a></li>
          </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <%= render "/layouts/private_chambers" %>   
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <div class="flash">
       <span class="bg-success"><%= notice %></span>
       <span class="bg-danger"><%= alert %></span>
    </div>
    <%= yield %>
  </div>
    <%= jskit %>
  </body>
</html>
