<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for(:title) then yield(:title) + ' | ' end %>
      Middle Kingdom Peerage Orders
    </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag    'application', media: 'all'  %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Middle Kingdom Peerage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laurel</a>
            <div class="dropdown-menu">
              <%= link_to 'Home', order_path('laurel'), class: 'dropdown-item'%>
              <%= link_to 'Roll of Honor', roll_of_honor_path('laurel'), class: 'dropdown-item'%>
              <%= link_to 'Browse By Group', groups_path('laurel'), class: 'dropdown-item'%>
              <%= link_to 'Browse By Specialty', specialties_path('laurel'), class: 'dropdown-item'%>
              <%= link_to 'Contact the Order Secretary', order_secretary_contact_path('laurel'), class: 'dropdown-item'%>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pelican</a>
            <div class="dropdown-menu">
              <%= link_to 'Home', order_path('pelican'), class: 'dropdown-item'%>
              <%= link_to 'Roll of Honor', roll_of_honor_path('pelican'), class: 'dropdown-item'%>
              <%= link_to 'Browse By Group', groups_path('pelican'), class: 'dropdown-item'%>
              <%= link_to 'Contact the Order Secretary', order_secretary_contact_path('pelican'), class: 'dropdown-item'%>
            </div>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Defense</a>
            <div class="dropdown-menu">
              <%= link_to 'Home', order_path('defense'), class: 'dropdown-item'%>
              <%= link_to 'Roll of Honor', roll_of_honor_path('defense'), class: 'dropdown-item'%>
              <%= link_to 'Browse By Group', groups_path('defense'), class: 'dropdown-item'%>
              <%= link_to 'Contact the Order Secretary', order_secretary_contact_path('defense'), class: 'dropdown-item'%>
            </div>
          </li>
          -->
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
        <%= render "/layouts/private_chambers" %>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container">
      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column flash">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>"><%= value %></div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
